
.about {
    & {
        background-color: #fff;
        padding-top: 31px;
        padding-bottom: 51px;
    }

    &__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 25px;

        @media screen and (min-width: 768px) {
            font-size: 43px;
        }

        @media screen and (min-width: 1150px) {
            font-size: 53px;
            padding-left: 175px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 17px;

        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            height: 434px;
            font-size: 20px;
            margin-bottom: 83px;
        }

        @media screen and (min-width: 1150px) {
            padding-left: 175px;
            margin-bottom: 90px;
        }
    }
    

    &__item {
        position: relative;
        width: 260px;
        
        @media screen and (min-width: 768px) {
            width: 300px;
        }
    }

    &__item-image {
        width: 82px;
        height: 82px;
        object-fit: none;
        object-position: left;
    }    
}
