.contacts {
    padding-top: 38px;
    padding-bottom: 39px;

    @media screen and (min-width:768px) {
        padding-top: 49px;
        padding-bottom: 57px;
    }

    @media screen and (min-width:1150px) {
        padding-top: 71px;
        padding-bottom: 105px;
    }

    &__inner {

        @media screen and (min-width:1150px) {
            display: grid;
            grid-template-columns: 350px% 527px;
            grid-template-areas:
            "title map"
            "content map"
            "button map";
            padding-left: 175px;
            justify-content: space-between;
        }
    }

    &__map {
        position: relative;
        left: -50px;
        background-image: url('../assets/images/map-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 1.42 * 100vw;
        margin-top: 33px;
        margin-bottom: 42px;

        @media screen and (min-width:768px) {
            background-image: url('../assets/images/map-tablet.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 60vw;
            margin-top: 49px;
            margin-bottom: 55px;
        }

        @media screen and (min-width:1150px) {
            position: static;
            grid-area: map;
            background-image: url('../assets/images/map-desktop.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-top: initial;
            margin-bottom: initial;
            width: 527px;
            height: 457px;
            left:unset;
            justify-self: left;
        }
    }

    &__title {
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 27px;

        @media screen and (min-width:768px) {
            font-size: 43px;
            padding-bottom: 49px;
                    
            &:after {
                position: absolute;
                content: "";
                background-image: url('../assets/images/flag.svg');
                width: 47px;
                height: 81px;
                margin-top: -60px;
                right: 0px;
                top: 50%;
            }
        }

        @media screen and (min-width:1150px) {
            grid-area: title;
        
            &:after {
                right: initial;
                left: -100px
            }
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 35px;

        @media screen and (min-width:768px) {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        @media screen and (min-width:1150px) {
            display: flex;
            grid-area: content;
            margin-top: 35px;
            margin-bottom: 84px;
        }
    }

    &__item {
        display: flex;

        @media screen and (min-width:768px) {
            justify-self: left;
        }
    }

    &__text {
        display: inline-block;
        vertical-align: top;
        min-width: 76px;
        max-width: 220px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;

        @media screen and (min-width:768px) {
            font-size: 17px;
        }
    }

    &__button {
        display: block;
        border: 2px solid #444;
        width: 260px;
        height: 52px;
        background-color: #fff;
        margin: 0 auto;
        align-self: center;
        
        @media screen and (min-width:768px) {
            width: 230px;
        }

        @media screen and (min-width:1150px) {
            grid-area: button;
            width: 230px;
            margin-left: initial;
            align-self: end;
        }
    }
}
